body {
  background-image: url('image.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-color: #1a1a1a;
  color: #fff;
  background-size: 40%;
  height: 700px;
  margin: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(55, 63, 63);
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0%;
}

.menu-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 22px;
  padding-top: 10px;
  margin-left: 4px;
}

.headline h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 56px;
  color: #ff7a00;
  margin-bottom: 7px;
  margin-top: 100px;
}

.headline h2 {
  font-family: 'Roboto' Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  margin-bottom: 3px;
  margin-top: 3px;
}

.headline p {
  font-size: 16px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  color: #ccc;
  margin-top: 5px;
}

.social-links {
  display: flex;
  gap: 17px;
  width: 80%;
  list-style: none;
  padding-left: 0;
}

.social-links li img {
  width: 24px;
  height: 24px;
}
